.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}// home

html{
  font-size: 62.5%;
  width:800px;
  height: 1920;
  margin:auto;
  display: flex;
  flex-direction: column;
}
.headerdiv{

  .headertxt{
    margin-top: 2rem;
  }

  p{
    width:80%
  }
}
.btn{
  width:85%;
  height:3.5rem;
  border-radius: 8px;
  background-color: teal;
  font-size: 1.75rem;
  color: white;
 .flexrow();
  justify-content: center;
  align-items: center;
}

.footer{
  width: 100%;
  margin: auto;
}

@media(max-width:1600px){
  html{
    .flexcolumn();
    align-content: center;
  }
  body{
    width: 500px;
    border:red 1px solid;
    display: flex;
    .flexcolumn();
    align-content: center;
  }
  section{
    .flexcolumn();
    align-content: center;
    align-items: center;
  }
  #flipme{
    flex-wrap: wrap;
    .text-content{
      order:1;
    }
    .img-content{
      order:2;
    }
  }
  .top{
    width: 100%;
    .flexcolumn();
    justify-content:center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .navdiv{
    width: 55%;
    margin-bottom: .1rem;
    .flexcolumn();
    h1{
      padding-top: 4rem;
      font-size: 2rem;
    }
    nav{
      font-size: 1rem;
      width:60%;
      .flexrow();
      justify-content: space-between;
    }

  }
  header{
    .flexcolumn();
    width:55%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .tophr{
    width: 70%;
  }
}

